*{
    z-index:111;
}

.section1 {
    background-color: black;
    background-image: url(../images/home-backgroundImag.webp);
    width: calc(100% - 160px);
    height: calc(100% - 160px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 80px;
}

.homepage-div {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.homepage-div img {
    position: relative;
    max-width: 100%;
}


.title1 {
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.description>p {
    color: white;
    font-size: max(2vw, 15px);;
}

.inputform {

    width: 600px;
    max-width: 100%;
    text-align: center;
}

.inputform>button {
    position: relative;
    height: 50px;
    width: 350px;
    max-width: 100%;
    border-radius: 50px;
    padding: 0 0;
    background-color: white;
    outline: none;
    border: none;
}

.inputform>button>span>svg {
    position: absolute;
    top: 0px;
    left: 10px;
    max-width: 10%;
}

.inputform>button>input {
    position: absolute;
    top: 0px;
    left: 40px;
    width: 250px;
    outline: none;
    max-width: calc(90% - 50px);
    border: none;
    height: 50px;
    padding: 0 0;
    margin: 0 0;
    font-weight: 500;
}

.back{
    background-color:rgba(255, 255, 255, 0.096);
    border-radius: 50px;
}

.section2{
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(0deg,#2a013f,#2a012f 20%,black) ;
}

.h2{
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
}

.h2>h2{
    margin: 0 0;
    color: white;
    text-align: center;
    font-size: 7vw;
}

.h2>p{
    color: white;
    text-align: center;
    font-size: 3vw;
}

.video{
    padding-left: 250px;
    padding-right: 250px;
    width: calc(100% - 500px);
}


.video>span>video{
    width: 100%;
}

@media screen and (max-width:768px) {
    .section1 {
        background-position: calc(100% + 160px) calc(100% + 10px);
        padding: 70px 40px;
        margin: 0 0;
        width: calc(100% - 80px);
        height: calc(100% - 140px);
        display: flex;
        justify-items: center;
    }

    .homepage-div img{
        z-index: 111;
    }
}